<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      {{ myString | uppercase }}
    </div>
    <div class="col-12">
      {{ myString | lowercase }}
    </div>
    <div class="col-12">
      {{ myString | slice: 0:2 }}
    </div>
    <div class="col-12">
      {{ myString | slice: 0:2 | uppercase }}
    </div>
    <div class="col-12">
      {{ myPercent | percent }}
    </div>
    <div class="col-12">
      {{ myNumber | number }}
    </div>
    <div class="col-12">
      {{ myNumber | number: "3.5-10" }}
    </div>
    <div class="col-12">
      {{ myMoney | currency: "RUB":"code" }}
    </div>
    <div class="col-12">
      {{ myMoney | currency: "RUB":"symbol-narrow" }}
    </div>
    <div class="col-12">
      {{ myMoney | currency: "RUB":"symbol":"3.1-1" }}
    </div>
    <div class="col-12">
      {{ myMoney | currency: "USD":"code" }}
    </div>
    <div class="col-12">
      {{ myMoney | currency: "USD":"symbol-narrow" }}
    </div>
    <div class="col-12">
      {{ myMoney | currency: "USD":"symbol":"3.1-1" }}
    </div>
    <div class="col-12">
      {{ myDate | date: "dd/MM/yyyy" }}
    </div>
    <div class="col-12">
      {{ myDate | date: "dd.MM.yyyy HH:mm:ss" }}
    </div>
    <div class="col-12">
      {{ myDate | date: "dd.MM.yyyy hh:mm:ss" }}
    </div>
  </div>
</div>
<hr />
<div class="container">
  <div class="row">
    <div class="col-12">
      <input type="search" class="form-control" [(ngModel)]="searchStr"/>
    </div>
  </div>
  <div class="row">
    <div class="col-12" *ngFor="let item of items | myfilter : searchStr">
      {{ item.name }}
    </div>
  </div>
</div>
